<%= form_for([:backoffice, @mensalist]) do |f| %>

  <%= f.label "Estacionamento" %>
  </br>
  <%= f.collection_select(:park_id, Park.all, :id, :park_name, {},{:class=>'form-control'} ) %>
  </br>
  <input type="hidden" id="data" value="<%= @park.to_json%>">
   
  <%= f.label "Nome" %>
  <%= f.text_field :name, class: 'form-control' %>
  </br>
  
  <%= f.label "Email" %>
  <%= f.text_field :email, class: 'form-control' %>
  </br>

  <%= f.label "Data do primeiro pagamento" %>
  <br>
  <%= f.text_field :first_invoice_date, id: "datepicker" %>
  </br>
  <br>

  <%= f.label "Dias de tolerância" %>
  <br>
  <%= f.select(:days_of_tolerance, (0..30)) %> 
  </br>
  <br>

  <%= f.label "Placas" %>
  <%= f.text_field :plates, class: 'form-control' %>
  </br>

  <%= f.label "Quantidade de carros" %>
  <br>
  <%= f.select(:car_seat_numbers, (0..10)) %> 
  </br>
  <br>

  <h1>Serviços</h1>

  <% @services.each do |service| %>
    <%= f.label service.name %>
    <%= check_box_tag('mensalist[services][]', service.to_json, @selected_services_ids.include?(service.id)) %>
  <% end %>

 <!--  <h2>Serviços selecionados</h2>

  <% @selected_services.each do |service|  %>
    <%= service["name"] %><%= service["price"] * 3 %>
  <% end %> -->
</br>

  <br>
  <% if @mensalist.id %>
    <h1>Pagamento</h1>
      <%= f.label "Status do pagamento" %>
      <%= f.select :payment_status, enum_options_for_select(Mensalist, :payment_status) %>
    <br>
  <% end %>
  <br>

  </br>
  <%= link_to 'Voltar', backoffice_mensalists_path, class: "btn btn-primary" %>
  <%= f.submit "Salvar", class: "btn btn-primary" %>

<% end %>