<%= form_for([:backoffice, @mensalist]) do |f| %>

  <%= f.label "Estacionamento" %>
  </br>
  <%= f.collection_select(:park_id, Park.all, :id, :park_name, {},{:class=>'form-control'} ) %>
  </br>
  <input type="hidden" id="data" value="<%= @park.to_json%>">
 
  <h1>Serviços</h1>

  <% @services.each do |service| %>
    <%= f.label service.name %>
    <%= check_box_tag('mensalist[services][]', service.to_json, @selected_services_ids.include?(service.id)) %>
  <% end %>

  <h2>Serviços selecionados</h2>

  <% @selected_services.each do |service|  %>
    <%= service["name"] %><%= service["price"] * 3 %>
  <% end %>
</br>

  </br>
  <%= link_to 'Voltar', backoffice_mensalists_path, class: "btn btn-primary" %>
  <%= f.submit "Salvar", class: "btn btn-primary" %>

<% end %>
