<%= form_for([:backoffice, @vehicle]) do |f| %>

  <%= f.label "Estacionamento" %>
  </br>
  <%= f.collection_select(:park_id, Park.all, :id, :park_name, {},{:class=>'form-control'} ) %>
  </br>
  <input type="hidden" id="data" value="<%= @park.to_json%>">

  <%= f.label "Placa do carro" %>
  <%= f.text_field :plate, class: 'form-control' %>
  </br>

  <%= f.label "Cor" %>
  <%= f.text_field :color, class: 'form-control' %>
  </br>

  <%= f.label "Modelo" %>
  <%= f.text_field :model, class: 'form-control' %>
  </br>

  <%= f.label "email" %>
  <%= f.text_field :email, class: 'form-control' %>
  </br>

  <%= f.label "Observações" %>
  <%= f.text_area :observations, class: 'form-control' %>
  </br>

  <h1>Tipo de serviço</h1>
  <br>
  <%= f.label "Status do pagamento" %>
  <%= f.select :permanence_type, enum_options_for_select(Vehicle, :permanence_type) %>
  
  <br>

  <h1>Serviços</h1>

    <% @services.each do |service| %>
      <%= f.label service.name %>
      <%= check_box_tag('vehicle[services][]', service.to_json, @selected_services_ids.include?(service.id)) %>
    <% end %>

 <!--  <h2>Serviços selecionados</h2>

  <% @selected_services.each do |service|  %>
    <%= service["name"] %><%= service["price"] %>
  <% end %>
  </br> -->

  <br>
  <% if @vehicle.id %>
    <h1>Pagamento</h1>
      <%= f.label "Status do pagamento" %>
      <%= f.select :payment_status, enum_options_for_select(Vehicle, :payment_status) %>
    <br>
  <% end %>
  <br>

  <%= link_to 'Voltar', backoffice_vehicles_path, class: "btn btn-primary" %>
  <%= f.submit "Salvar", class: "btn btn-primary" %>

<% end %>
