<!DOCTYPE html>
<html>
<head>
  <title>Administrador de Estacionamento</title>
  <script src="https://cdn.rawgit.com/visionmedia/page.js/master/page.js"></script>
  <script type="text/javascript" src="https://unpkg.com/vue@2.4.2/dist/vue.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
	<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render partial: "layouts/nav" %>
<%= yield %>

</body>
</html>